<h4 class="header">
  Default privalges
</h4>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th width="15%;">Read</th>
          <th width="15%;">Write</th>
          <th width="10%;"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="mainContent" *ngFor="let member of memberList">
          <td (click)="toggle(member)">{{member.name}}</td>
          <td [hidden]="editMemberId!=member.friendId">
            <input id="read{{member.friendId}}" type="checkbox" data-toggle="toggle" checked data-offstyle="danger" data-off="<i class='glyphicon glyphicon-remove'></i> <i class='glyphicon glyphicon-book'></i> Can't read"
              data-onstyle="success" data-on="<i class='glyphicon glyphicon-ok'></i> <i class='glyphicon glyphicon-book'></i> Can read">
          </td>
          <td (click)="toggle(member)" [hidden]="editMemberId==member.friendId">
            <div class="text-danger" [hidden]="member.canRead">
              <i class='glyphicon glyphicon-remove'></i>
              <i class='glyphicon glyphicon-book'></i> Can't read
            </div>
            <div class="text-success" [hidden]="!member.canRead">
              <i class='glyphicon glyphicon-ok'></i>
              <i class='glyphicon glyphicon-book'></i> Can read
            </div>
          </td>

          <td [hidden]="editMemberId!=member.friendId">
            <input [hidden]="editMemberId!=member.friendId" id="write{{member.friendId}}" type="checkbox" data-toggle="toggle" checked
              data-offstyle="danger" data-off="<i class='glyphicon glyphicon-remove'></i> <i class='glyphicon glyphicon-pencil'></i> Can't write"
              data-onstyle="success" data-on="<i class='glyphicon glyphicon-ok'></i> <i class='glyphicon glyphicon-pencil'></i> Can write">

          </td>
          <td (click)="toggle(member)" [hidden]="editMemberId==member.friendId">
            <div class="text-danger" [hidden]="member.canWrite">
              <i class='glyphicon glyphicon-remove'></i>
              <i class='glyphicon glyphicon-pencil'></i> Can't write
            </div>
            <div class="text-success" [hidden]="!member.canWrite">
              <i class='glyphicon glyphicon-ok'></i>
              <i class='glyphicon glyphicon-pencil'></i> Can Write
            </div>
          </td>
          <td>
            <div [hidden]="editMemberId!=member.friendId" (click)="save(member)">
              <div class="text-success">
                <i class="glyphicon glyphicon-floppy-saved"></i> Save</div>
            </div>
            <div [hidden]="editMemberId!=member.friendId" (click)="toggle(member)">
              <div class="text-danger">
                <i class="glyphicon glyphicon-erase"></i> Cancel</div>
            </div>
          </td>
        </tr>
        <tr [hidden]="memberList.length > 0">
          <td colspan="4">No members to show</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div id="addMemberModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" on-click="closeModal()">&times;</button>
        <h4 class="modal-title">Add a Favourite</h4>
      </div>
      <div class="modal-body">
        <p>Choose a member</p>
        <form class="form">
          <div class="row">
            <label class="col-md-2"> Name</label>
            <select class="form-control" id="membersNotFavourites-select" [(ngModel)]="newFav.name" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let item of filterTypes; let i = index" value={{i}}>{{item}}</option>
            </select>
          </div>
          <div class="row">
            <input id="newFavRead" type="checkbox" data-toggle="toggle" checked data-offstyle="danger" data-off="<i c lass='glyphicon glyphicon-remove'></i> <i class='glyphicon glyphicon-book'></i> Can't read"
              data-onstyle="success" data-on="<i class='glyphicon glyphicon-ok'></i> <i class='glyphicon glyphicon-book'></i> Can read">

            <input id="newFavWrite" type="checkbox" data-toggle="toggle" checked data-offstyle="danger" data-off="<i class='glyphicon glyphicon-remove'></i> <i class='glyphicon glyphicon-pencil'></i> Can't write"
              data-onstyle="success" data-on="<i class='glyphicon glyphicon-ok'></i> <i class='glyphicon glyphicon-pencil'></i> Can write">

          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" on-click="closeModal()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" on-click="createFav()" data-dismiss="modal">Save</button>
      </div>
    </div>

  </div>
</div>
