.toggle.btn{
    max-height: 10px;
}

.toggle-handle.btn{
    max-height: 10px;
}

div.toggle-group{
    max-height: 10px;
}

td{
    max-height: 10px;
}

.btn{
    height: 10px;
}

.toggle-group
.toggle{
    min-height: 10px;
    max-height: 10px;
    height: 10px;
}