<script>
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function () {
    $('#js-example-basic-multiple').select2({
      placeholder: 'Select your friends',
      allowClear: true
    });
  });

</script>

<h4 class="header">
  Notes
</h4>


<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#filter-body">
      <h3 class="panel-title">Search for notes</h3>
    </div>
    <div id="filter-body" class="collapse in">
      <div class="panel-body">
        <ul class="list-group col-md-8">
          <li class="list-group-item">
            <div class="input-group ">
              <div class="col-md-2">
                <h4 class="list-group-item-heading">Filter: </h4>
              </div>
              <div class="col-md-9">
                <select class="form-control" id="search-select" [(ngModel)]="selectedFilter">
                  <option *ngFor="let item of filterTypes; let i = index" value={{i}}>{{item}}</option>
                </select>
              </div>
              <div class="col-md-1">
                <a role="button" data-target="#filter-body" class="btn btn-success" on-click="filter()">Filter</a>
                <!-- data-toggle="collapse" -->
              </div>
            </div>
          </li>
          <div [hidden]="selectedFilter!=0">
            <li class="list-group-item">
              <div class="input-group col-md-12">
                <h4 class="list-group-item-heading">A sentence with: </h4>
                <div class="col-md-2">
                  <input type="text" class="form-control" [(ngModel)]="noteFilterOptions.preSufFixText" placeholder="Prefix and/or suffix">
                </div>
                <div class="col-md-2">
                  <input type="checkbox" name="sentence" [checked]="noteFilterOptions.asPrefix" (change)="noteFilterOptions.asPrefix = !noteFilterOptions.asPrefix">
                  <label> as a Prefix</label>
                </div>
                <div class="col-md-2">
                  <input type="checkbox" name="sentence" [checked]="noteFilterOptions.asSuffix" (change)="noteFilterOptions.asSuffix = !noteFilterOptions.asSuffix">
                  <label> as a Suffix </label>
                </div>
              </div>
            </li>
          </div>
          <div [hidden]="selectedFilter!=1">
            <li class="list-group-item">
              <div class="input-group col-md-12">
                <h4 class="list-group-item-heading">These numbers: </h4>
                <div class="col-md-2">
                  <input type="text" class="form-control" placeholder="numbers" [(ngModel)]="noteFilterOptions.numbers">
                </div>
                <div class="col-md-2">
                  <input type="checkbox" disabled checked name="sentence">
                  <label> phone number area code </label>
                </div>
                <div class="col-md-2">
                  <input type="checkbox" name="sentence">
                  <label> consecutively anywhere </label>
                </div>
              </div>
            </li>
          </div>
          <div [hidden]="selectedFilter!=2">

            <li class="list-group-item">
              <div class="input-group col-md-12">
                <h4 class="list-group-item-heading">Email address partially containing this in the domain</h4>
                <div class="col-md-2">
                  <input type="text" class="form-control col-md-4" placeholder="Email domain" [(ngModel)]="noteFilterOptions.emailDomain">
                </div>
              </div>
            </li>
          </div>

          <div [hidden]="selectedFilter!=3">
            <li class="list-group-item">
              <div class="input-group col-md-12">
                <h4 class="list-group-item-heading">Text that contains at least three of the following case-insensitive words:</h4>
                <p class="list-group-item-text">meeting, minutes, agenda, action, attendees, apologies</p>
              </div>
            </li>
          </div>

          <div [hidden]="selectedFilter!=4">
            <li class="list-group-item">
              <div class="input-group col-md-12">
                <h4 class="list-group-item-heading">
                  A word in all capitals of three characters or more
                </h4>
              </div>
            </li>
          </div>
        </ul>
        <ul class="list-group col-md-4" [hidden]="selectedFilters.length==0">
          <li class="list-group-item">
            <div class="input-group" *ngFor="let item of selectedFilters">
              <h4 class="list-group-item-heading">{{item.message}}</h4>
            </div>
          </li>
          <li>
            <a role="button" data-toggle="collapse" class="btn btn-danger pull-right" on-click="clear()">Clear</a>
          </li>
        </ul>
      </div>

      <div class="panel-footer">

      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-1 pull-right">
    <a class="btn btn-primary" role="button" [routerLink]="['/notes/create']">Add Note</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped hovered">
      <thead>
        <tr>
          <th width="15%">Owner</th>
          <th width="60%;">Content Preview</th>
          <th width="10%;">Access</th>
          <th width="10%;">Occurances</th>
          <th width="5%;"></th>
        </tr>
      </thead>
      <tbody class="mainContent">
        <tr *ngFor="let note of noteList">
          <td>{{note.owner}}</td>
          <td>{{note.content}}</td>
          <td>
            <div>
              <span [hidden]="!note.isOwner">
                <i class='text-danger glyphicon glyphicon-user'></i>
              </span>
              <span [hidden]="!note.canRead">
                <i class='text-warning glyphicon glyphicon-book'></i>
              </span>
              <span [hidden]="!note.canWrite">
                <i class='text-info glyphicon glyphicon-pencil'></i>
              </span>
            </div>
          </td>
          <td>{{note.count}}</td>
          <td [hidden]="!note.canWrite">
            <div class="btn btn-success" data-toggle="modal" data-target="#editNoteModal" on-click="getNoteEditDetails(note)">
              <div class="glyphicon glyphicon-pencil"></div> Edit</div>
          </td>
          <td [hidden]="!note.canRead || note.canWrite">
            <div class="btn btn-default" data-toggle="modal" data-target="#editNoteModal" on-click="getNoteEditDetails(note)">
              <div class="glyphicon glyphicon-book"></div> View</div>
          </td>
        </tr>
        <tr [hidden]="noteList.length > 0">
          <td colspan="3">No notes to show</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!-- Modal -->
<div id="editNoteModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" [hidden]="!editNote.isOwner">Edit your note</h4>
        <h4 class="modal-title" [hidden]="editNote.isOwner">
          <span [hidden]="!editNote.canWrite">Edit</span>
          <span [hidden]="editNote.canWrite">Read</span>
          {{editNote.owner}}'s note </h4>
      </div>
      <div class="modal-body">

        <div [hidden]="editNote.canWrite">
          <div class="form-group">
            <label for="Content">Content:</label>
            <textarea class="form-control" rows="5" id="Content" [(ngModel)]="editNote.NewNote.Text"></textarea>
          </div>
        </div>
        
        <div [hidden]="!editNote.canWrite">
          <div class="form-group">
            <label for="Content">Content:</label>
            <p>{{editNote.NewNote.Text}}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group" [hidden]="!editNote.isOwner">
            <label class="col-md-3">Read only </label>
            <div class="col-md-9">
              <select id="read-multi-select" multiple="multiple">
                <optgroup label="Read and Write">
                  <option *ngFor="let user of defaultWrite" value="{{user.FriendID}}">{{user.FriendName}}</option>
                </optgroup>
                <optgroup label="Read only">
                  <option *ngFor="let user of defaultRead" selected="selected" value="{{user.FriendID}}">{{user.FriendName}}</option>
                </optgroup>
                <optgroup label="No access">
                  <option *ngFor="let user of defaultNoAccess" value="{{user.FriendID}}">{{user.FriendName}}</option>
                </optgroup>
              </select>
            </div>
            <div class="form-group" [hidden]="!editNote.isOwner">
              <label class="col-md-3">Read and write </label>
              <div class="col-md-9">
                <select class="form-control" id="write-multi-select" multiple="multiple">
                  <optgroup label="Read and Write">
                    <option *ngFor="let user of defaultWrite" selected="selected" value="{{user.FriendID}}">{{user.FriendName}}</option>
                  </optgroup>
                  <optgroup label="Read only">
                    <option *ngFor="let user of defaultRead" (click)="thisWselected()" value="{{user.FriendID}}">{{user.FriendName}}</option>
                  </optgroup>
                  <optgroup label="No access">
                    <option *ngFor="let user of defaultNoAccess" value="{{user.FriendID}}">{{user.FriendName}}</option>
                  </optgroup>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" on-click="updateNote()" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
