<h4 class="header">
  Create Note
</h4>

<div class="form-group">
  <label for="Content">Content:</label>
  <textarea class="form-control" rows="5" id="Content" [(ngModel)]="text"></textarea>
</div>

<div class="form-group">
  <label class="col-md-1">Read only </label>
  <div class="col-md-4">
    <select id="read-multi-select" multiple="multiple">
        <optgroup label="Read and Write">       
            <option *ngFor="let user of defaultWrite" value="{{user.FriendID}}">{{user.FriendName}}</option>
        </optgroup>
        <optgroup label="Read only">       
            <option *ngFor="let user of defaultRead" selected="selected" value="{{user.FriendID}}">{{user.FriendName}}</option>
        </optgroup>
        <optgroup label="No access">       
          <option *ngFor="let user of defaultNoAccess" value="{{user.FriendID}}">{{user.FriendName}}</option>
        </optgroup>       
    </select>
  </div>
  <div class="form-group">
    <label class="col-md-1">Read and write </label>
    <div class="col-md-4">
      <select class="form-control" id="write-multi-select" multiple="multiple">
        <optgroup label="Read and Write">       
            <option *ngFor="let user of defaultWrite"  selected="selected" value="{{user.FriendID}}">{{user.FriendName}}</option>
        </optgroup>
        <optgroup label="Read only">       
            <option *ngFor="let user of defaultRead" (click)="thisWselected()" value="{{user.FriendID}}">{{user.FriendName}}</option>
        </optgroup>
        <optgroup label="No access">       
          <option *ngFor="let user of defaultNoAccess"  value="{{user.FriendID}}">{{user.FriendName}}</option>
        </optgroup>        
      </select>     
    </div>
  </div>
  <label class="text-danger">{{warning}}</label>
</div>


<div class="row">
  <div class="col-md-1 pull-right">
    <a class="btn btn-primary" role="button" (click)="createNote()" [routerLink]="['/notes']">Save</a>
  </div>
</div>
