<div id="log-in-form" class="form">
  <div class="jumbotron" [hidden]="!currentUser">
    <div class="container">
      <h2>Welcome aboard!</h2>
      <h3>Hey {{currentUser}}</h3>
      <p> Let's get started! In this app, you can create your very own notes and share them with your friends! </p>
    </div>
  </div>
</div>
