<script>
  // In your Javascript (external .js resource or <script> tag)
  $(document).ready(function () {
    $('#js-example-basic-multiple').select2({
      placeholder: 'Select your best friends',
      allowClear: true
    });
  });

</script>

<h4 class="header">
  Members
</h4>

<div class="row">
  <div class="col-md-1 pull-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMemberModal">Add Member</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
   <!-- <div class="col-md-4" *ngFor="let member of memberList">
      <div class="btn">
          {{member.name}}
      </div>
    </div>-->
    <table class="table table-striped hovered">
      <thead>
        <tr>
          <th width="55%">Name</th>
          <th width="5%;"></th>
        </tr>
      </thead>
      <tbody class="mainContent">
        <tr *ngFor="let member of memberList">
          <td>{{member.name}}</td>
          <td>
          </td>
        </tr>
        <tr [hidden]="memberList.length > 0">
          <td colspan="3">No members to show</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div id="addMemberModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" on-click="closeModal()">&times;</button>
        <h4 class="modal-title">Add New Member</h4>
      </div>
      <div class="modal-body">
        <p>Enter details for a new member</p>
        <form class="form">
          <div class="row">
            <label class="col-md-2"> Name</label>
            <div class="col-md-6">
            <input class="form-control" required [(ngModel)]="newMember.name" type="text" placeholder="Name" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="row">
            <label class="col-md-2">Password</label>
            <div class="col-md-6">
            <input class="form-control" required [(ngModel)]="newMember.password" type="password" placeholder="Pssword" [ngModelOptions]="{standalone: true}" >
            </div>
          </div>
          <div class="row">
            <label class="col-md-2">Account</label>
            <div class="checkbox col-md-6">
              <label><input type="checkbox" [checked]="newMember.isAdminSelected" (change)="isAdminSelected = !isAdminSelected">Grant admin privileges</label>
            </div>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" on-click="closeModal()" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" on-click="createMember()" data-dismiss="modal">Save</button>
      </div>
    </div>

  </div>
</div>
