.body { 
    padding-top: 70px; 
}

.enterprisenotes-app-border {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: url('../app/bg.png') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    position: absolute;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    padding: 20px 40px 5px 40px;
}

.enterprisenotes-app {
    height: 95vh;
    max-height: 100%;
    max-width: 100%;
    align-content: center;
    background-color: #FFF;
    border-radius: 20px;
    padding: 25px;
}

.input-group.col-md-12{
    padding-bottom: 10px;
}

