<div class="enterprisenotes-app-border">
  <div class="enterprisenotes-app">
    <nav [hidden]="!currentUser">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="navbar-brand">
            <span class="glyphicon glyphicon-sunglasses"></span> {{title}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/notes']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Notes</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/settings']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">My Settings</a>
        </li>
        <li class="nav-item">
          <div [hidden]="!currentUserIsAdmin">
            <a class="nav-link" [routerLink]="['/members']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
              Members
            </a>
          </div>
        </li>

        <li class="nav-item pull-right">
          <div [hidden]="!currentUser">
            Hi {{currentUser}} |
            <a class="nav-link" on-click="logout()" [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
    <nav [hidden]="currentUser">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="navbar-brand">
            <span class="glyphicon glyphicon-sunglasses"></span> {{title}}</a>
        </li>
      </ul>
    </nav>
    <div id="log-in-form" class="form">
      <div class="row" [hidden]="currentUser">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"> Login</h3>
          </div>
          <div id="filter-body">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">

                  <div class="input-group col-md-12">
                    <h4 class="list-group-item-heading">Username: </h4>
                    <div class="col-md-2">
                      <input type="text" class="form-control" [value]="username" placeholder="Username" (input)="username = $event.target.value">
                    </div>
                  </div>

                  <div class="input-group col-md-12">
                    <h4 class="list-group-item-heading">Password: </h4>
                    <div class="col-md-2">
                      <input type="password" class="form-control" placeholder="Password" [value]="password" (input)="password = $event.target.value">
                    </div>
                  </div>

                </li>
                <li class="list-group-item">
                  <div class="input-group col-md-2">
                    <a class="btn btn-primary" role="button" on-click="login()">Login</a>
                  </div>
                  <div class="input-group col-md-2">
                    <p class="list-group-item-text  text-danger">
                      {{error}}
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="!currentUser">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
